*.suo*
SangriaHealthCenter/.vs/SangriaHealthCenter/v16/.suo
SangriaHealthCenter/SangriaHealthCenter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SangriaHealthCenter/SangriaHealthCenter/obj/Debug/SangriaHealthCenter.csproj.AssemblyReference.cache


